h1{
    border: 3px solid black;
    border-radius: 12px;
    
}

p{
    border-bottom: 3px solid green;
    border-top: 4px dotted yellow;
    border-left: 5px dashed purple;
    border-right: 6px ridge red;
    border-radius: 25px;
    
}