
@font-face{ 
    src:url(fonts/DMSerifText-Italic.ttf);
    font-family: DMSi;
}

@font-face{
    src:url(fonts/DMSerifText-Regular.ttf);
    font-family:DMSr;
}
h1{
    
    font-family:DMSr;
    font: size 15px;
    color:blueviolet;
}

p{
    font-family: DMSi;
    color:aquamarine;

}