h1{
    text-shadow: 10px 10px 10px red;
    margin-bottom: 100px;
    margin-left: 100px;
}

#box{
    margin-top: 100px;
    margin-left: 100px;
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px 10px 10px black;
}